[Desktop Entry]
Encoding=UTF-8
Name=Convert-SFS
Icon=edit-undo-archive
Comment=Convert .sfs files
Exec=conv-sfs
Terminal=false
Type=Application
Categories=DebianDog;Modules
GenericName=Convert-SFS
MimeType=application/x-squashfs;application/vnd.squashfs;
StartupNotify=false
