[Desktop Entry]
Encoding=UTF-8
Name=Edit-SFS
Icon=edit-undo-archive
Comment=Edit .sfs files
Exec=edit-sfs
Terminal=false
Type=Application
Categories=Modules;DebianDog
GenericName=Edit-SFS
MimeType=application/x-squashfs;application/vnd.squashfs;
StartupNotify=false
