[Desktop Entry]
Version=1.0
Type=Application
Name=Edit-SFS
Icon=edit-undo-archive
Comment=Edit .sfs files
TryExec=edit-sfs
Exec=edit-sfs
Terminal=false
Categories=Modules;DebianDog
GenericName=Edit-SFS
MimeType=application/x-squashfs;application/vnd.squashfs;
StartupNotify=false
