[Desktop Entry]
Version=1.0
Type=Application
Name=filemnt
Comment=Mount/unmount .squashfs/.iso files
TryExec=filemnt
Exec=filemnt %f
Categories=Other;
NoDisplay=true
MimeType=application/x-cd-image;application/x-squashfs;application/vnd.squashfs;
Terminal=false
Icon=drive-removable-media
StartupNotify=false
