[Desktop Entry]
Version=1.0
Type=Application
Name=FixDep Install
Comment=Install deb(s) + dependencies
TryExec=fixdepinstall
Exec=fixdepinstall
Icon=application-x-deb
Terminal=false
Categories=Utility;System;
StartupNotify=false
