[Desktop Entry]
Version=1.0
Type=Application
Exec=dash -c "which obshutdown > /dev/null && exec obshutdown || exec xfce4-session-logout"
Icon=org.xfce.panel.actions
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
Name=Logout
Name[nl]=Uitloggen
NotShowIn=JWM
OnlyShowIn=XFCE
