[Desktop Entry]
Version=1.0
Type=Application
Exec=obshutdown
Icon=gnome-logout
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
Name=Logout
Name[nl]=Uitloggen
NotShowIn=JWM
OnlyShowIn=XFCE

