[Desktop Entry]
Version=1.0
Type=Application
Icon=htop
Name=radeontop
Comment=Show Radeon GPU utilization
TryExec=radeontop
Exec=env WHOLD=1 WNAME=radeontop WICON=htop run-in-terminal radeontop -T
Terminal=false
StartupNotify=false
Categories=HWMon;
