[Desktop Entry]
Version=1.0
Type=Application
Name=Extract .deb
TryExec=redeb
Exec=redeb %f
Categories=Other;
NoDisplay=true
MimeType=application/x-deb;
Terminal=false
Icon=edit-undo-archive
StartupNotify=false
