[Desktop Entry]
Version=1.0
Type=Application
Icon=utilities-system-monitor
Name=watch sensors
Comment=Hardware Sensors
TryExec=sensors
Exec=env WNAME=HardwareSensors WICON=utilities-system-monitor WGEOM=60x40 run-in-terminal watch -t -n1 'sensors \; grep MHz /proc/cpuinfo'
Terminal=false
StartupNotify=false
Categories=HWMon;
