[Desktop Entry]
Version=1.0
Type=Application
Name=Setup Timezone
Comment=
Exec=timezone-setup
Icon=applications-internet
Path=
Terminal=false
StartupNotify=false
Categories=System;
