[Desktop Entry]
Version=1.0
Type=Application
Name=SFS-Load GUI
Comment=Activate or deactivate a module 'On the Fly'
Exec=loadmodulegui
Icon=sfs
Terminal=false
StartupNotify=false
Categories=System;Modules;
