[Desktop Entry]
Version=1.0
Type=Application
Name=Load Module
Comment=Activate or deactivate a module 'On the Fly'
TryExec=loadmodulegui
Exec=loadmodulegui
Icon=media-removable
Terminal=false
StartupNotify=false
Categories=System;Modules;
