[Desktop Entry]
Version=1.0
Type=Application
Name=Sound Card Selector
Comment=Select a sound card and set ALSA defaults
GenericName=ALSA config tool
Icon=audio-card
TryExec=sound-card-selector
Exec=sound-card-selector
Terminal=false
StartupNotify=false
Categories=System;Audio;
