[Desktop Entry]
Version=1.0
Type=Application
Name=wavemon
Comment=status monitor for wireless network devices
TryExec=wavemon
Exec=env WHOLD=1 WNAME=wavemon WICON=network-wireless WGEOM=90x30 run-in-terminal wavemon
Icon=network-wireless
Terminal=false
StartupNotify=false
Categories=HWMon;
